<header>
  <div class="header-img">
    <img src="assets/beer.jpg">
  </div>
  <nav class="nav">
    <a routerLinkActive="active" routerLink="/drank">Drank</a>
    <a routerLinkActive="active" routerLink="/to-try">To Try</a>
    <a routerLinkActive="active" routerLink="/pictures">Pictures</a>
  </nav>
</header>

<content>
  <router-outlet></router-outlet>
</content>

<p-confirmDialog header="Confirmation"
                 icon="fa fa-question-circle" width="400">
</p-confirmDialog>

<div class="newbeer">
  New Beer:
  <router-outlet name="newbeer"></router-outlet>
</div>
